.nav {
    grid-area: n;
    background-color: skyblue;
}

.item {
    color: white;
}

.item .active {
    color: grey;
}

.item a {
    text-decoration: none;
    color: white;
}

a.activeLink {
    color: grey;
}